.section--minus-top {
	margin-top: -410px;
}
.section__title {
	margin-bottom: 16px;
	font-family: var(--ff-regular);
	font-weight: 400;
	font-size: 44px;
	line-height: 120%;
	background: linear-gradient(
			77.86deg,
			rgba(255, 255, 255, 0.09) 11.6%,
			rgba(255, 255, 255, 0.15) 34.08%,
			rgba(255, 255, 255, 0.15) 68.26%,
			rgba(255, 255, 255, 0) 92.01%
		),
		#323232;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	// text-fill-color: transparent;
}

.section__title--center {
	text-align: center;
}

.section__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 145%;
	letter-spacing: 0.05em;
	color: #303034;
	margin-bottom: 30px;
}

.socials__link:hover svg path {
	fill: var(--c-primary);
}

.mobile-visible {
	display: none;
}

@media (max-width: 1199px) {
	.section__title {
		font-size: 32px;
	}
	.section__text {
		font-size: 16px;
	}
}

@media (max-width: 991px) {
	.section--minus-top {
		margin-top: -490px;
	}
}

@media (max-width: 767px) {
	.section__title {
		font-size: 25px;
	}
	.mobile-visible {
		display: initial;
	}
}

@media (max-width: 575px) {
	.section--minus-top {
		margin-top: -300px;
	}
	.section__text {
		font-size: 15px;
	}
}
