.section__title {
	margin-bottom: 16px;
	font-family: var(--ff-title);
	color: var(--c-text-title);
	font-weight: 400;
	font-size: 61px;
	line-height: 120%;
	letter-spacing: 0.03em;
}
.section__text--highlight {
	border-radius: 60px;
	display: inline-block;
	padding-left: 27px;
	padding-right: 27px;
	background: var(--bg-primary);
	font-weight: 700;
}

.section__text--center,
.section__title--center {
	text-align: center;
}

.section__text {
	font-weight: 400;
	color: #303034;
	margin-bottom: 30px;

	font-size: 18px;
	line-height: 127%;
	letter-spacing: 0.03em;
}
.section__text--bold {
	font-weight: 700;
}

.socials__link svg {
	width: 100%;
	height: 100%;
}
.socials__link:hover svg path {
	fill: var(--c-primary);
}

.mobile-visible {
	display: none;
}

@media (max-width: 1199px) {
	.section__title {
		font-size: 32px;
	}
	.section__text {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	.section__title {
		font-size: 25px;
	}
	.mobile-visible {
		display: initial;
	}
}

@media (max-width: 575px) {
	.section__text {
		font-size: 15px;
	}
}
