.coach {
	position: relative;
	padding-top: 110px;
	padding-bottom: 250px;
	margin-bottom: -10px;
	background-color: #341d45;
	background-image: url("../img/coach/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.coach__divider-top {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	height: 350px;
	background-image: url(../img/hero/divider-bottom.png);
	// @include bgset("../img/hero/divider-bottom", "png");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	pointer-events: var(--pi-decor);
}

.coach__pic {
	position: absolute;
	z-index: 2;
	left: 60px;
	bottom: 35px;
	display: block;
	max-width: 1140px;
	width: 100%;
}
.coach__img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	display: block;
}

.coach__info {
	position: relative;
	z-index: 2;
	max-width: 490px;
	width: 100%;
	margin-left: auto;
	margin-right: 70px;
}
.coach__title {
	color: #fff;
	margin-bottom: 11px;
}
.coach__desc {
	color: #fff;
	font-size: 17px;
}

.coach__divider-bottom {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: -10px;
	height: 350px;
	background-image: url(../img/coach/divider-bottom.png);
	// @include bgset("../img/hero/divider-bottom", "png");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	pointer-events: var(--pi-decor);
}
