.consult {
	position: relative;
	z-index: 2;
	padding-top: 275px;
	background-color: #341d45;
	// background-image: url("../img/consult/bg.jpg");
	// @include bgset("../img/consult/bg", "jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.consult__container {
	margin-top: -440px;

	@media (max-width: 1100px) {
		margin-top: -370px;
	}
	@media (max-width: 991px) {
		// margin-top: -190px;
		margin-top: -300px;
	}
	@media (max-width: 576px) {
		margin-top: -350px;
	}
}
.consult__title {
	margin-bottom: 50px;
	color: #fff;

	@media (max-width: 576px) {
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
	}
}

.consult__bullets {
	display: grid;
	grid-template-areas: "b1 b1" "b2 b5" "b3 b6" "b4 b7";
	justify-content: space-between;
	position: relative;
	z-index: 3;

	@media (max-width: 1100px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (max-width: 991px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@media (max-width: 576px) {
		flex-direction: column;
	}
}

.consult-bullet {
	max-width: 360px;

	@media (max-width: 991px) {
		--bullet-width: calc(50% - 20px);
		max-width: var(--bullet-width);
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		--bullet-width: 100%;
	}
}
.consult-bullet:nth-of-type(1) {
	grid-area: b1;
	display: flex;
	justify-self: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;

	margin-bottom: -70px;

	@media (max-width: 1100px) {
		margin-left: -80px;
	}
	@media (max-width: 991px) {
		margin-left: 0;
		margin-bottom: 0;
	}
}
.consult-bullet:nth-of-type(1) .consult-bullet__pic {
	width: 180px;
}
.consult-bullet:nth-of-type(2) {
	grid-area: b2;
	position: relative;
	margin-top: -70px;
	margin-bottom: 40px;
	margin-left: 100px;

	@media (max-width: 1100px) {
		margin-left: 50px;
		max-width: 280px;
	}
	@media (max-width: 991px) {
		margin-top: -54px;
		margin-left: 0;
		max-width: var(--bullet-width);
	}
	@media (max-width: 576px) {
		margin-top: unset;
	}
}

.consult-bullet:nth-of-type(3) {
	grid-area: b3;

	@media (max-width: 1100px) {
		max-width: 250px;
		margin-top: -30px;
		padding-left: 20px;
	}

	@media (max-width: 991px) {
		max-width: var(--bullet-width);
		padding-left: 0;
		margin-top: 10px;
	}
	@media (max-width: 576px) {
		margin-top: unset;
	}
}

.consult-bullet:nth-of-type(4) {
	grid-area: b4;
	margin-left: auto;
	max-width: 320px;
	position: relative;
	margin-left: -10px;
	margin-top: -5px;

	@media (max-width: 1100px) {
		max-width: 220px;
		margin-top: -30px;
	}
	@media (max-width: 991px) {
		max-width: var(--bullet-width);
		margin-left: 0;
		margin-top: 0;
	}
}
.consult-bullet:nth-of-type(4) .consult-bullet__pic {
	@media (max-width: 991px) {
		margin-bottom: -8px;
	}
	@media (max-width: 567px) {
		margin-bottom: 6px;
	}
}

.consult-bullet:nth-of-type(5) {
	grid-area: b5;
	margin-right: 25px;
	margin-top: 8px;

	@media (max-width: 1100px) {
		padding-left: 100px;
		margin-left: auto;
		margin-top: 25px;
		margin-bottom: 30px;
	}
	@media (max-width: 991px) {
		padding-left: 0;
		margin-left: 0;
		margin-right: 0;
	}
}
.consult-bullet:nth-of-type(5) .consult-bullet__pic {
	margin-top: -20px;
	margin-bottom: 20px;
}
.consult-bullet:nth-of-type(6) {
	grid-area: b6;
	margin-left: 100px;
	margin-bottom: 40px;

	@media (max-width: 1100px) {
		max-width: 280px;
		margin-left: auto;
		margin-right: -30px;
	}
	@media (max-width: 991px) {
		max-width: var(--bullet-width);
		margin-right: unset;
		margin-left: unset;
	}
}
.consult-bullet:nth-of-type(6) .consult-bullet__pic {
	width: 180px;
	margin-left: -30px;
	margin-top: -30px;

	@media (max-width: 991px) {
		margin-left: auto;
		margin-top: -15px;
	}
}
.consult-bullet:nth-of-type(7) {
	grid-area: b7;
	margin-left: 100px;

	@media (max-width: 1100px) {
		margin-left: 140px;
	}
	@media (max-width: 991px) {
		margin-left: unset;
	}
}
.consult-bullet:nth-of-type(odd):last-of-type {
	@media (max-width: 991px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.consult-bullet__pic {
	display: block;
	width: 120px;
	margin-bottom: 12px;

	@media (max-width: 991px) {
		margin-left: auto;
		margin-right: auto;
	}
}
.consult-bullet__img {
	display: block;
	object-fit: contain;
	width: 100%;
}

.consult-bullet__desc {
	font-size: 18px;
	line-height: 145%;
	letter-spacing: 0.05em;
	color: #fff;

	@media (max-width: 1100px) {
		br {
			display: none;
		}
	}
	@media (max-width: 991px) {
		text-align: center;
	}
}

.consult__pic {
	max-width: 1110px;
	margin-top: -590px;
	margin-left: -40px;
	margin-right: auto;
	display: block;
	width: 100%;

	@media (max-width: 1100px) {
		max-width: 920px;
		margin-top: -570px;
		margin-left: -20px;
	}

	@media (max-width: 991px) {
		margin-top: unset;
		margin-left: auto;
	}
	@media (max-width: 576px) {
		height: 480px;
	}
}
.consult__img {
	display: block;
	width: 100%;

	@media (max-width: 576px) {
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
}

.consult__anchor {
	position: relative;
	display: block;
	max-width: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -270px;
}
.consult__divider {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: -10px;
	width: 100%;
	height: 580px;
	// @include bgset("../img/consult/divider-bottom", "png");
	// background-image: url("../img/consult/divider-bottom.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	pointer-events: var(--pi-decor);

	@media (max-width: 991px) {
		height: 260px;
	}
}

// .consult__decor-left {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 200px;
// 	height: 700px;
// 	background-image: url(../img/consult/light-left.png);
// }
// .consult__decor-right {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	width: 200px;
// 	height: 700px;
// 	background-image: url(../img/consult/light-right.png);
// }
