.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}
.header__container {
	display: flex;
	justify-content: flex-end;
	align-items: start;
	padding-top: 30px;

	@media (max-width: 575px) {
		padding-top: 12px;
	}
}
.header-branding {
	display: inline-block;
	background-image: url(../img/common/logo-surface.svg);
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}
.header-branding__text {
	display: inline-block;
	padding: 25px 35px 70px;
	color: var(--c-primary);
	font-weight: 700;
}

.header__contact {
	display: flex;
	padding-top: 23px;
}
.header__phone {
	display: flex;
	align-items: center;
	margin-right: 30px;
	transition: all 0.3s;
}
.header__phone:hover {
	color: var(--c-primary);
}
.header__phone::before {
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	background-image: url(../img/common/phone.svg);
	background-repeat: no-repeat;
	margin-right: 12px;
	background-size: contain;
}

.header__socials {
	@media (max-width: 1100px) {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
.header__socials .socials__link {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin-left: 18px;

	@media (max-width: 575px) {
		width: 26px;
		height: 26px;
	}
	svg {
		background-color: #fff;
		border-radius: 100%;
	}
	path {
		fill: var(--c-primary);
	}
}
.header__socials .socials__link:first-of-type {
	margin-left: 0;
}
