.warranty {
	position: relative;
	padding-top: 80px;
	margin-bottom: -10px;

	@media (max-width: 1199px) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.warranty::before {
	content: "";
	z-index: 0;
	position: absolute;
	top: -280px;
	display: block;
	width: 100%;
	height: 430px;
	background-image: url("../img/warranty/divider-top.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.warranty__container {
	position: relative;

	@media (max-width: 1199px) {
		margin-top: -150px;
	}
	@media (max-width: 576px) {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

.warranty__title {
	margin-bottom: 110px;

	@media (max-width: 1199px) {
		margin-bottom: 20px;
	}
	@media (max-width: 576px) {
		br {
			display: none;
		}
	}
}

.warranty__gallery {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;

	@media (max-width: 1199px) {
		margin-bottom: -40px;
	}

	@media (max-width: 768px) {
		display: block;
	}
}

.warranty-card {
	max-width: calc(50% - 30px);

	@media (max-width: 768px) {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

.warranty-card__pic {
	display: block;
	height: 180px;
	margin-bottom: 25px;
}

.warranty-card:nth-of-type(2) .warranty-card__pic {
	height: 270px;
	margin-top: 10px;

	@media (max-width: 768px) {
		height: 200px;
	}
}
.warranty-card:nth-of-type(3) .warranty-card__pic {
	height: 350px;
	margin-top: -130px;
	margin-bottom: -10px;

	@media (max-width: 768px) {
		margin-top: -40px;
	}
}

.warranty-card__img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: bottom;
}

.warranty-card__desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 145%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #303034;

	@media (max-width: 1500px) {
		br {
			display: none;
		}
	}
}

.warranty__button-start {
	max-width: 400px;
	width: 100%;
}

.warranty__divider-bottom {
	display: block;
	width: 100%;
	height: 268px;
	// background-image: url(../img/warranty/divider-bottom.png);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;

	@media (max-width: 576px) {
		height: 100px;
	}
}

@media (max-width: 1600px) {
	.warranty::before {
		top: -250px;
	}
}

@media (max-width: 991px) {
	.warranty-offer__desc {
		max-width: 400px;
		font-size: 20px;
	}
	.warranty__button-start {
		max-width: 310px;
	}
}

@media (max-width: 767px) {
	.warranty-offer {
		padding-bottom: 240px;
		background-position: center bottom;
	}
	.warranty-offer__desc {
		max-width: 100%;
	}
	.warranty-card__desc br {
		display: none;
	}
	.warranty__button-start {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

@media (max-width: 575px) {
	.warranty::before {
		top: -100px;
		height: 210px;
	}
	.warranty-card__pic {
		height: 120px;
	}
	.warranty-card__desc {
		font-size: 15px;
	}

	.warranty-offer {
		padding-top: 25px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 390px;
		background-size: 100%;
	}
	.warranty-offer__desc {
		font-size: 18px;
		margin-bottom: 18px;
	}
}

@media (max-width: 420px) {
	.warranty-offer {
		padding-bottom: 260px;
	}
}
